{% extends 'index/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
<div class="p-3 pb-1 mb-4 bg-body-tertiary border bg-opacity-75 text-center">
    <h1>Самые богатые люди планеты</h1><br>
</div>
{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url("{% static 'accounts/earth.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
    {% if users %}
        {% for el in users %}
            <div class="p-3 pb-1 mb-4 bg-body-tertiary rounded-3 border bg-opacity-50">
                <h3>{{ el.name }}</h3>
                <p>Баланс: {{ el.money }} денег</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет пользователей</p>
    {% endif %}
{% endblock %}